name: CI

on:
  push:
    branches:
      - dev
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip and pipenv
        run: pip install --upgrade pip && pip install pipenv && pip install --upgrade pipenv

      - name: Install dependencies
        run: pip install pipenv && pipenv install --deploy

      - name: Run tests
        run: pipenv run python manage.py runserver
