name: Testing
on: push

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Run Django unit tests
          run:  |
            pip3 install pipenv
            python3 -m pipenv install
            python3 -m pipenv shell
            python3 manage.py makemigrations
            python3 manage.py migrate
            python3 manage.py test